body
{
	background:url("https://images.unsplash.com/photo-1502581537606-931d49a24a98?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
	background-size: cover;
	background-position: center;
}
html
{
	height: 100%;
}
h1
{
	color: yellow;
	text-align:center;
	text-transform: uppercase;
	text-shadow: 0px 4px 10px red,
	             0px 8px 15px yellow;
	padding-top: 8%;
	padding-bottom: 5%;
}
.container
{
	padding-top:0.09%;
	padding-left: 5%;
}
html
{
	height: 100%;
}
.ss
{
	font-size: 1em;
	color: rgba(111,97,250);
	text-shadow: 0px 4px 15px blue,
	0px 10px 25px red,
	0px 15px 20px orange;

}
.btn
{
	border-radius: 40px;
	background: linear-gradient(90deg,#0162c8,#55e7fc);
	overflow: hidden;
}
span
{
	position: absolute;
	background:  #fff;
	transform: translate(-50%,-50%);
	pointer-events: none;
	border-radius: 50%;
	animation: animate 1s linear infinite;
}
@keyframes animation-delay: 
{
	0%
	{
		width: 0px;
		height: 0px;
	}
	100%
	{
		width: 50px;
		height: 50px;
		opacity: 0;
	}
}